@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 41 90% 96%;
    --foreground: 39 72% 20%;
    --muted: 41 12% 90%;
    --muted-foreground: 41 12% 30%;
    --popover: 41 90% 93%;
    --popover-foreground: 39 72% 10%;
    --card: 41 90% 94%;
    --card-foreground: 39 72% 15%;
    --border: 41 80% 91%;
    --input: 41 80% 88%;
    --primary: 39 72% 20%;
    --primary-foreground: 39 72% 80%;
    --secondary: 39 30% 75%;
    --secondary-foreground: 39 30% 15%;
    --accent: 41 90% 81%;
    --accent-foreground: 41 90% 21%;
    --destructive: 1 85% 42%;
    --destructive-foreground: 0 0% 100%;
    --ring: 39 72% 20%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 5 11% 22%;
    --foreground: 39 81% 84%;
    --muted: 5 12% 26%;
    --muted-foreground: 5 12% 76%;
    --popover: 5 11% 19%;
    --popover-foreground: 39 81% 94%;
    --card: 5 11% 20%;
    --card-foreground: 39 81% 89%;
    --border: 5 1% 27%;
    --input: 5 1% 30%;
    --primary: 39 81% 84%;
    --primary-foreground: 39 81% 24%;
    --secondary: 39 30% 25%;
    --secondary-foreground: 39 30% 85%;
    --accent: 5 11% 37%;
    --accent-foreground: 5 11% 97%;
    --destructive: 2 95% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 39 81% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
